DinnergeddonUI/Connected Services/DinnergeddonServiceReference/DinnergeddonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DinnergeddonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52999/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52999/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52999/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:52999/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByUsername" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InsertAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InsertAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInRole" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToRole" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCredentials" />
  </wsdl:message>
  <wsdl:message name="IAccountService_VerifyCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetEmailConfirmed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailConfirmed" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetEmailConfirmed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailConfirmedResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetEmailConfirmed_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEmailConfirmed" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetEmailConfirmed_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEmailConfirmedResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RemoveFromRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromRole" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RemoveFromRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetNewDummyLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDummyLobby" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetNewDummyLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewDummyLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetHighscore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscore" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetHighscore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscoreResponse" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetHighscores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscores" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetHighscores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscoresResponse" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetTopNHighscores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopNHighscores" />
  </wsdl:message>
  <wsdl:message name="IHighscoreService_GetTopNHighscores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopNHighscoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindById" message="tns:IAccountService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindByIdResponse" message="tns:IAccountService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindByEmail" message="tns:IAccountService_FindByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindByEmailResponse" message="tns:IAccountService_FindByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindByUsername" message="tns:IAccountService_FindByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindByUsernameResponse" message="tns:IAccountService_FindByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/InsertAccount" message="tns:IAccountService_InsertAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/InsertAccountResponse" message="tns:IAccountService_InsertAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateAccount" message="tns:IAccountService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateAccountResponse" message="tns:IAccountService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteAccount" message="tns:IAccountService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteAccountResponse" message="tns:IAccountService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccounts" message="tns:IAccountService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountsResponse" message="tns:IAccountService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsInRole" message="tns:IAccountService_IsInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsInRoleResponse" message="tns:IAccountService_IsInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddToRole" message="tns:IAccountService_AddToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddToRoleResponse" message="tns:IAccountService_AddToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetRoles" message="tns:IAccountService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetRolesResponse" message="tns:IAccountService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/VerifyCredentials" message="tns:IAccountService_VerifyCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/VerifyCredentialsResponse" message="tns:IAccountService_VerifyCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailConfirmed">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetEmailConfirmed" message="tns:IAccountService_GetEmailConfirmed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetEmailConfirmedResponse" message="tns:IAccountService_GetEmailConfirmed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEmailConfirmed">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SetEmailConfirmed" message="tns:IAccountService_SetEmailConfirmed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SetEmailConfirmedResponse" message="tns:IAccountService_SetEmailConfirmed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RemoveFromRole" message="tns:IAccountService_RemoveFromRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RemoveFromRoleResponse" message="tns:IAccountService_RemoveFromRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewDummyLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetNewDummyLobby" message="tns:IAccountService_GetNewDummyLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetNewDummyLobbyResponse" message="tns:IAccountService_GetNewDummyLobby_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IHighscoreService">
    <wsdl:operation name="GetHighscore">
      <wsdl:input wsaw:Action="http://tempuri.org/IHighscoreService/GetHighscore" message="tns:IHighscoreService_GetHighscore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHighscoreService/GetHighscoreResponse" message="tns:IHighscoreService_GetHighscore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHighscores">
      <wsdl:input wsaw:Action="http://tempuri.org/IHighscoreService/GetHighscores" message="tns:IHighscoreService_GetHighscores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHighscoreService/GetHighscoresResponse" message="tns:IHighscoreService_GetHighscores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopNHighscores">
      <wsdl:input wsaw:Action="http://tempuri.org/IHighscoreService/GetTopNHighscores" message="tns:IHighscoreService_GetTopNHighscores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHighscoreService/GetTopNHighscoresResponse" message="tns:IHighscoreService_GetTopNHighscores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByUsername">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/InsertAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInRole">
      <soap:operation soapAction="http://tempuri.org/IAccountService/IsInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToRole">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyCredentials">
      <soap:operation soapAction="http://tempuri.org/IAccountService/VerifyCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailConfirmed">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetEmailConfirmed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmailConfirmed">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SetEmailConfirmed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromRole">
      <soap:operation soapAction="http://tempuri.org/IAccountService/RemoveFromRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewDummyLobby">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetNewDummyLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IHighscoreService" type="tns:IHighscoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHighscore">
      <soap:operation soapAction="http://tempuri.org/IHighscoreService/GetHighscore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighscores">
      <soap:operation soapAction="http://tempuri.org/IHighscoreService/GetHighscores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopNHighscores">
      <soap:operation soapAction="http://tempuri.org/IHighscoreService/GetTopNHighscores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DinnergeddonService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:52999/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IHighscoreService" binding="tns:BasicHttpBinding_IHighscoreService">
      <soap:address location="http://localhost:52999/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>